$messagePadding: 12px 20px 12px 20px;
$messageRadius: 28px;
$iconMargin: 0 15px;

.botChat {
  width: 100%;
  height: 100%;
  background: linear-gradient(#015EC4 0%, #2187F4 50%, #106FD6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.botChatContent {
  width: 40%;
  height: 100%;
  height: 80%;
}

.pageTitle, .subTitle {
  color: #fff;
}

.pageTitle {
  font-size: 46px;
  font-weight: bold;
}

.chat {
  margin-top: 20px;
  border-radius: 16px;
  background-color: #fff;
  padding: 10px;
  height: 65%;
  overflow: auto;
  position: relative;
  scrollbar-width: none;
}

.botMessage, .userMessage {
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
  word-break: break-all;
}

.botMessage {
  display: flex;
  justify-content: flex-start;
}

.userMessage {
  display: flex;
  justify-content: flex-end;
}

.botMessageContent {
  display: inline-flex;
  justify-content: flex-start;
}

.userMessageContent {
  display: inline-flex;
  justify-content: flex-end;
  transition: all .8s linear;
}

.botBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botIcon {
  margin: $iconMargin;
  width: 40px;
  height: 40px;
}

.stopIcon {
  width: 20px;
  height: 20px;
  padding: 7px;
  transition: all .3s ease;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
}

.stopIcon:hover {
  cursor: pointer;
  background-color: #a3a4a533;
}

.userIcon {
  margin: $iconMargin;
  width: 32px;
  height: 32px;
}

.botText {
  color: #000;
  border-radius: $messageRadius;
  padding: $messagePadding;
  background-color: #2276F533;
  position: relative;
}

.userText {
  color: #fff;
  border-radius: $messageRadius;
  padding: $messagePadding;
  background-color: #2276F5;
}

.queryInputWrap {
  margin-top: 30px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
}

.queryInput {
  border-radius: 16px;
  padding: 20px 80px 20px 20px;
  border: none;
  outline: none;
  width: calc(100% - 40px);
  font-size: 20px;
}

.queryInput::placeholder {
  font-size: 20px;
  color: #CED0D6;
}

.sendButton {
  border-radius: 50%;
  background-color: #007AFE;
  padding: 8px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
}

.sendButton:hover {
  cursor: pointer;
  background-color: #0067d4;
}